#toolbar{
  font-size: 26px;
  height: 45px;
  font-weight: bold;
  font-family: Tahoma;
  color: red;
}
#bgImg{
  height: 900px;
  width: 100%;
  background-image: url('./images/background.jpg');
}
#footer{
  padding-bottom: 10px;
  color: aliceblue;
}
